@charset "UTF-8";

h1 {
    text-align: center;  
    margin-top: 0px;  
}

body {
    background-color: rosybrown;
    margin: 0px;
}

header {
    background-color: beige;
    padding-bottom: 10px;
}

#list {
    display: block;
    background-color: mediumaquamarine;
    float: left;
    padding-right: 30px;
}

p {
    font-family: "휴먼 편지체", "맑은 고딕", sans-serif;
    font-size: 1em;
    text-indent: 1em;
}

footer {
    display: block;
    position: absolute;
    width: 100%;
    background-color: orange;
    font-size: 0.75em;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}